@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Outline&family=Sora:wght@400;700&display=swap');


$shadow1: gainsboro;
$gradient: radial-gradient(ellipse at top, #e7c6ff, #b8c0ff,  transparent), radial-gradient(ellipse at bottom, #b8c0ff, #bbd0ff,  transparent); 

// background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
html {
    font-family: 'Sora', sans-serif;
    font-size: 125%;
    overflow-x: hidden;
    // color: white;
}


body {
    overflow-x: hidden;
    width: 100vw;
}

// main {
//     height: 80vh;
// }

h1,
h2,
h3,
h4,
a,
p,
li,
ul {
    margin: 0;
    padding: 0;
}

p,
a, 
span,
li {
    color: white;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

form {
    padding: 20px;
}

button {
    margin: 10px 5px;
}

input {
    padding-left: 5px;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


